
{% load static %}
<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">
        <!-- 1. 我的订单 -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-shopping-cart"></i>
                <span class="menu-text">我的订单</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <span class="menu-text">进行中</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">历史订单</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- 2. 预约服务 -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-calendar-check-o"></i>
                <span class="menu-text">预约服务</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <span class="menu-text">快速预约</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">服务收藏夹</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- 3. 地址管理 -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-map-marker"></i>
                <span class="menu-text">地址管理</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <span class="menu-text">我的地址簿</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">常用地址推荐</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- 4. 售后服务 -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-headphones"></i>
                <span class="menu-text">售后服务</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <span class="menu-text">申请退款</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">申请返工</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">投诉建议</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">进度查询</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- 5. 我的评价 -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-star"></i>
                <span class="menu-text">我的评价</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <span class="menu-text">待评价订单</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">评价历史记录</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">精选评价展示</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- 6. 账户中心 -->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user-circle"></i>
                <span class="menu-text">账户中心</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{% url 'user_profile' %}">
                        <span class="menu-text">个人信息</span>
                        <small class="badge badge-success">已认证</small>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">安全设置</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">服务者认证</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
