{% load static %}
<!-- 主导航栏容器 -->
<div class="navbar">
    <!-- 导航栏内层包裹 -->
    <div class="navbar-inner">
        <!-- 导航栏内容容器 -->
        <div class="navbar-container">
            <!-- 品牌标识区 (左侧) -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <img src="{% static 'image/common/logo.png' %}" alt="家务服务预约系统" />
                    </small>
                </a>
            </div>

            <!-- 侧边栏折叠控制 -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <!-- 汉堡菜单图标 -->
                <i class="collapse-icon fa fa-bars"></i>
            </div>

            <!-- 右侧功能区 -->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area">
                        <!-- 用户账户管理 -->
                        <li>
                            <!-- 用户信息展示 -->
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar">
                                    <img src="{% static user_info.avatar %}">
                                </div>
                                <section>
                                    <h2><span class="profile"><span>{{ user_info.nickname }}</span></span></h2>
                                </section>
                            </a>
                            <!-- 账户设置面板 -->
                            <ul class="dropdown-menu dropdown-login-area">
                                <!-- 个人资料链接 -->
                                <li class="edit">
                                    <a href="profile.html" class="pull-left">个人资料</a>
                                </li>
                                <!-- 主题选择 -->
                                <li class="theme-area"><a>主题色选择</a>
                                    <ul class="colorpicker" id="skin-changer">
                                        <li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" data-theme="css/common/skins/blue.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" data-theme="css/common/skins/azure.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" data-theme="css/common/skins/teal.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" data-theme="css/common/skins/green.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" data-theme="css/common/skins/orange.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" data-theme="css/common/skins/pink.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" data-theme="css/common/skins/darkred.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" data-theme="css/common/skins/purple.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" data-theme="css/common/skins/darkblue.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#585858;" data-theme="css/common/skins/gray.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#474544;" data-theme="css/common/skins/black.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#001940;" data-theme="css/common/skins/deepblue.min.css"></a></li>
                                    </ul>
                                </li>
                                <!-- 退出登录 -->
                                <li class="dropdown-footer">
                                    <a href="logout.html"> 退出登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
